{:kotoba.app/id "cloud.itonami.isic-4641", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihxqe6cvkin5hfacnwqoumnklnu52l7ubibbz2gzazkgmkl7e64m4", :kotoba.app/embed-url "ipfs://bafkreihxqe6cvkin5hfacnwqoumnklnu52l7ubibbz2gzazkgmkl7e64m4", :published {:archive "https://kotobase.net/ipfs/bafkreihxqe6cvkin5hfacnwqoumnklnu52l7ubibbz2gzazkgmkl7e64m4", :size 72851, :put-status 201, :get-status 200, :at "2026-08-15T13:31:30.837Z"}}
